body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', serif;
    box-sizing: border-box;
    background: url("./images/background.jpg");
}

a:hover, input[type=submit]:hover{
    color: #eee;
}
.lead {
    font-size: 36px;
    font-weight: 400;
}
.col-6 {
    max-width: 100%;
    flex: 0 0 100%;
    display: flex;
}
@media screen and (min-width: 820px) {
    .col-6 {
        max-width: 50%;
        flex: 0 0 50%;
        display: flex;
    }
}
.col-4 {
    max-width: 100%;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 820px) {
    .col-4 {
        max-width: 50%;
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 1320px) {
    .col-4 {
        max-width: 33.33%;
        flex: 0 0 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
@keyframes spin2 {
    to {
        transform: rotate(-360deg)
    }
}
@keyframes shake {
    to {
        transform: rotate(-15deg)
    }
}

.signup {
    background-color: white;
    padding: 40px;
    border-radius: 6px;
    margin: 40px auto;
}
